.image-slider {
      display: block;
      width: 100%;
      height: auto;
  }
.image-slider div{
    text-align: center;
}
  .owl-nav {
      
  }
  .owl-theme .owl-nav [class*=owl-] {
    background: transparent;
}
  /* .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
      background: #ff7b00 !important;
  } */
  .owl-theme .owl-dots .owl-dot.active span {
    background: #e09422;
    width: 20px;
    transition: all 0.5s;
}

.owl-theme .owl-dots .owl-dot span {
    background: #e09422;
}
/* Feedback member */
.customer{
  width: 100%;
  height: 35rem;
  margin-top: 5rem;
  background-image: url('../image/br2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.customer-content{
  width: 80%;
  margin: 0 auto;
}
.customer-title{
  text-align: center;
}
.customer-title h1{
  padding-top: 10%;
  font-size: 3rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
}
.customer-title span{
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  color: rgb(228, 140, 19);

}
.customer-member{
  display: flex;
  /* flex-direction: row; */
  width: 100%;
}
.customer-item{
  margin-top: 5rem;
  flex: 30%;
}
.customer-item:nth-child(2){
  margin: 5rem 5%;
}
.item-comment{
  background: rgba(255, 255, 255,0.4);
  padding: 0.5rem 0.7rem;
}
.item-info{
  padding-top: 1rem;
}
.item-info img{
  float: left;
  max-width: 20%;
  margin-left: 20%;
  margin-right: 0.5rem;
}

.item-info p{
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
}
.item-info span{
  color: rgb(172, 172, 172);
}
